<div>
    <button pButton type="button" label="Start Game" class="p-button-secondary" (click)="startGame()"></button>
    <span>&nbsp;</span>
    <button pButton type="button" label="Pause Game" class="p-button-danger" (click)="pauseGame()"></button>
</div>

    <p-divider></p-divider>

<div>
    <input type="text" pInputText class="p-inputtext-sm" />
</div>

    
<!-- <button pButton type="button" class="p-button-info"></button>
<button pButton type="button" label="Primary"></button>
<button pButton type="button" label="Secondary" class="p-button-secondary"></button>
<button pButton type="button" label="Success" class="p-button-success"></button>
<button pButton type="button" label="Info" class="p-button-info"></button>
<button pButton type="button" label="Warning" class="p-button-warning"></button>
<button pButton type="button" label="Help" class="p-button-help"></button>
<button pButton type="button" label="Danger" class="p-button-danger"></button> -->